<% user=session[:user_id] %>
<nav class="navbar fixed-top navbar-expand-md navbar-dark liquid" id="navbarc">
    <a href="/home" class="navbar-brand mb-0">
        <%= image_tag('logo-main-light.png',alt: "logo" , id: "logo-img" , class: "d-inline-block align-top" ) %>
    </a>
    <button type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" class="navbar-toggler"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse h-100 d-flex align-items-center justify-content-center" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a href="/home" class="nav-link" id="home-tab">Home</a>
            </li>
            <li class="nav-item active">
                <a href="/my_blogs" class="nav-link active" id="my-blogs-tab">My blogs</a>
            </li>
            <li class="nav-item active">
                <a href="/saved" class="nav-link" id="saved-tab">Saved</a>
            </li>
        </ul>
    </div>
    <div class="form-check form-switch">
        <i class="fa-solid fa-sun text-white" id="dm-icon"></i>
        <input type="checkbox" name="dark-mode" class="form-check-input" id="darkSwitch">
    </div>

    <div class="dropdown">
        <a class="btn-secondary" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            <% if user['img_url']['url'].nil? %>
            <i class="fa-solid fa-circle-user" id="user-profile-top"></i>
            <% else %>
            <div class="user-avatar-div">
            <img src="<%= user['img_url']['url'] %>" alt="user-avatar-top" class="user-avatar">
            </div>
            <% end %>
        </a>
        <div class="dropdown-menu position-absolute top-25 end-0" aria-labelledby="dropdownMenuLink">

                <p class="dropdown-item">Signed in as</p>
                <p class="lead dropdown-item" style="color: gray;">
                    <%= user["first_name"] + " " + user["last_name"] %>
                </p>
                <a class="dropdown-item" href="/my_account"><i class="fa-solid fa-user"></i> &nbsp; My Account</a>
                <a class="dropdown-item" href="#"><i class="fa-solid fa-bug"></i>&nbsp; Report</a>
                <a class="dropdown-item" href="#"><i class="fa-solid fa-comment"></i> &nbsp; Feedback</a>
                <a class="dropdown-item" href="/logout"><i class="fa-solid fa-right-from-bracket"></i>&nbsp; Log out</a>
        </div>
    </div>
</nav>


<% Blog.where(users_id: user["id"]).map do |cur_blog| %>
<% blog_own = User.find(cur_blog["users_id"]) %>
<div class="container" id="home-blog-main-div">
    <div class="container blog-sub-div" >
        <div class="d-inline-flex mr-3">
            <% if blog_own["img_url"].nil? %>
            <i class="fa-solid fa-circle-user" id="user-profile-top"></i>
            <% else %>
            <% blog_own_img = "/uploads/user/img_url/" + blog_own["id"].to_s + "/" + blog_own["img_url"] %>
            <div class="user-avatar-div"><img src="<%= blog_own_img %>" class="blog-user-img user-avatar" alt="User"></div>
            <% end %>

            <p class="blog-user-name"> <%= blog_own["first_name"]+" "+ blog_own["last_name"] %> </p>
        </div> <br>
        <div class="d-inline-flex blog-time-div">
            <% blog_date = cur_blog["updated_at"] %>
            <i class="fa-solid fa-clock-rotate-left" style="color: gray;font-size: 13px;"></i><p class="blog-timestamp"><%= blog_date %></p>
        </div>
        <div class="d-flex justify-content-center">
            <p class="blog-title"> <%= cur_blog["title"] %> </p>
        </div>
        <div class="blog-content-div">
            <p class="blog-content">
                <%= cur_blog["text"] %>
            </p>
        </div> <br>
        <% img_path = "/uploads/blog/img_url/" + cur_blog["id"].to_s + "/" + cur_blog["img_url"] %>
        <div class="col d-flex justify-content-center">
            <img src="<%= img_path %>" alt="blog-img" class="blog-img">
        </div> <br>

        <div class="blog-btns-div row">
            <div class="col-1"><button class="btn-c" type="button"><i class="fa-solid fa-heart text-danger"></i>&nbsp; Like</button></div>
            <div class="col-1"><p class="blog-likes">12,563 likes</p></div>
            <div class="col-7"></div>
            <div class="col-3">
                <button class="btn-c" type="button"><i class="fa-solid fa-comment"></i>&nbsp;Comment</button>
                <button class="btn-c" type="button"><i class="fa-solid fa-share-nodes"></i> &nbsp;Share</button>
                <button class="btn-c" type="button"><i class="fa-solid fa-bookmark"></i>&nbsp; Save</button>
            </div>
        </div>
    </div>
</div>
<% end %>




<%= javascript_pack_tag 'home.js' %>

<script>

     $(document).ready(function(){
        $('.dropdown-toggle').dropdown()
    });
</script>


